[Unit]
Description=Initialize HubV3L eMMC partitions (first boot)
DefaultDependencies=no
Before=mnt-overlay.mount mnt-data.mount local-fs-pre.target
After=dev-overlay.device dev-data.device
ConditionPathExists=!/mnt/overlay/initialized

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/hubv3l-init-partitions

[Install]
WantedBy=local-fs-pre.target
